In [8]:
import pandas as pd
import PySimpleGUI as sg
import pandas

In [9]:
df = pd.read_csv (r"C:\Users\hassan\Desktop\SlutprojektProgrammering\pokemondata.csv")
    
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [13]:
df.head(15)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,CharizardsPaPPa
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,no
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,no
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,NaN
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,NaN
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,NaN
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,NaN
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,NaN
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,NaN
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,NaN
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,NaN
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,NaN
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,NaN

In [37]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Atk.Sp,Sp. Def,Speed,Generation,Legendary,CharizardsPaPPa
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,no
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,no
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN

In [38]:
df['Attack'].value_counts()

100    40
65     39
50     37
80     37
85     33
       ..
46      1
190     1
106     1
132     1
33      1
Name: Attack, Length: 111, dtype: int64

In [44]:
df.iloc()

In [48]:
grupp = df.groupby('HP')

In [49]:
grupp.count()

,#,Name,Type 1,Type 2,Attack,Defense,Atk.Sp,Sp. Def,Speed,Generation,Legendary,CharizardsPaPPa
HP,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,1,0
10,1,1,1,0,1,1,1,1,1,1,1,0
20,6,6,6,2,6,6,6,6,6,6,6,0
25,2,2,2,1,2,2,2,2,2,2,2,0
28,1,1,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
165,1,1,1,0,1,1,1,1,1,1,1,1
170,1,1,1,0,1,1,1,1,1,1,1,1
190,1,1,1,0,1,1,1,1,1,1,1,1
250,1,1,1,0,1,1,1,1,1,1,1,1
255,1,1,1,0,1,1,1,1,1,1,1,1

In [10]:
df.loc[df["HP"] >= 80, "CharizardsPaPPa"] = "yes"
df.loc[df["HP"] >= 80, "CharizardsPaPPa"] = "no"

df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,CharizardsPaPPa
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,no
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,no
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN

In [23]:
df = df.rename(columns={'Sp. Atk':'Atk.Sp'})

In [25]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Atk.Sp,Sp. Def,Speed,Generation,Legendary,CharizardsPaPPa
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,no
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,no
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,no
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,no
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,no

In [43]:
df.describe()

,#,HP,Attack,Defense,Atk.Sp,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [58]:
df.drop(labels='Attack', axis=1)

,#,Name,Type 1,Type 2,HP,Defense,Atk.Sp,Sp. Def,Speed,Generation,Legendary,CharizardsPaPPa
0,1,Bulbasaur,Grass,Poison,45,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,60,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,80,83,100,100,80,1,False,no
3,3,VenusaurMega Venusaur,Grass,Poison,80,123,122,120,80,1,False,no
4,4,Charmander,Fire,NaN,39,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,60,150,130,70,6,True,no
798,720,HoopaHoopa Unbound,Psychic,Dark,80,60,170,130,80,6,True,no
799,721,Volcanion,Fire,Water,80,120,130,90,70,6,True,no

In [59]:
df.drop(labels=[0, 1], axis=0)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Atk.Sp,Sp. Def,Speed,Generation,Legendary,CharizardsPaPPa
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,no
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,no
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,NaN
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,no
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,no
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,no

In [65]:
df.describe()

,#,HP,Attack,Defense,Atk.Sp,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [71]:
pokemon_stats = df[["HP", "Speed"]]

pokemon_types = df[["HP", "Type 1"]]

In [75]:
pokemon_combinded = pd.merge(pokemon_stats, pokemon_types, on=['HP'])

In [77]:
pokemon_combinded = pd.merge(pokemon_stats, pokemon_types, on=['HP', 'Type 1'])

KeyError: 'Speed'

In [92]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Atk.Sp,Sp. Def,Speed,Generation,Legendary,CharizardsPaPPa
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,no
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,no
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,no
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,no
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,no

In [94]:
merge_df = pd.merge

       #                   Name   Type 1  Type 2  HP  Attack  Defense  Atk.Sp  \
0      1              Bulbasaur    Grass  Poison  45      49       49      65
1      2                Ivysaur    Grass  Poison  60      62       63      80
2      3               Venusaur    Grass  Poison  80      82       83     100
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123     122
4      4             Charmander     Fire     NaN  39      52       43      60
..   ...                    ...      ...     ...  ..     ...      ...     ...
795  719                Diancie     Rock   Fairy  50     100      150     100
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110     160
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60     150
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60     170
799  721              Volcanion     Fire   Water  80     110      120     130

     Sp. Def  Speed  Generation  Legendary CharizardsPaPPa
0         65     45           1      False             NaN
1         80     60           1      False             NaN
2        100     80           1      False              no
3        120     80           1      False              no
4         50     65           1      False             NaN
..       ...    ...         ...        ...             ...
795      150     50           6       True             NaN
796      110    110           6       True             NaN
797      130     70           6       True              no
798      130     80           6       True              no
799       90     70           6       True              no

[800 rows x 13 columns]